.kim-picture {
  background: center / cover no-repeat url("../img/kim.png");
  width: 170px;
  height: 200px;
}

a.fb-commenter:link,
a.fb-commenter:visited {
  text-decoration: none;
}

a.fb-commenter:hover,
a.fb-commenter:active {
  text-decoration: underline;
}

@media print {

  body,
  .blockquote {
    font-size: 0.7rem;
  }

  .card {
    break-inside: avoid;
    margin: 16px 0 0;
  }

  .bd-mode-toggle,
  #obituary-link {
    display: none;
  }

  .kim-picture {
    width: 128px;
    height: 150px;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  a.fb-commenter {
    color: inherit;
  }

  #fb-comments,
  #fb-comments>* {
    position: inherit !important;
    height: inherit !important;
    left: inherit !important;
    top: inherit !important;
  }
}